<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gestao_ambiental</property>
        <property name="hibernate.connection.username">root</property>
                <property name="hibernate.connection.password">nando</property>        
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <property name="hibernate.format_sql">true</property>
        <property name="show_sql">true</property>
		<property name="format_sql">true</property>
		
		<property name="hibernate.c3p0.acquire_increment">3</property>
		<property name="hibernate.c3p0.idle_test_period">100</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.preferredTestQuery">select 1;</property>
        
        <mapping class="br.com.gestaoambiental.bean.Acesso"></mapping>
        <mapping class="br.com.gestaoambiental.bean.Anexo"></mapping>
        <mapping class="br.com.gestaoambiental.bean.Documento"></mapping>   
        <mapping class="br.com.gestaoambiental.bean.Empresa"></mapping>  
        <mapping class="br.com.gestaoambiental.bean.Filial"></mapping>                
        <mapping class="br.com.gestaoambiental.bean.LocalOrigem"></mapping>    
        <mapping class="br.com.gestaoambiental.bean.Usuario"></mapping>          
    </session-factory>
</hibernate-configuration>
