<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
<!--     <context-param> -->
<!-- 		<param-name>javax.faces.PROJECT_STAGE</param-name> -->
<!-- 		<param-value>false</param-value> -->
<!-- 	</context-param> -->

<!-- 	<context-param> -->
<!-- 		<param-name>javax.faces.STATE_SAVING_METHOD</param-name> -->
<!-- 		<param-value>client</param-value> -->
<!-- 	</context-param> -->

<!-- 	<context-param> -->
<!-- 		<param-name>facelets.SKIP_COMMENTS</param-name> -->
<!-- 		<param-value>true</param-value> -->
<!-- 	</context-param> -->

	<context-param>
	    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
	    <param-value>server</param-value>
	</context-param>
	<context-param>
	    <param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
	    <param-value>false</param-value>
	</context-param>

	<context-param>
		<param-name>primefaces.UPLOADER</param-name>
		<param-value>commons</param-value>
	</context-param>
	
	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
	

	<context-param>
		<param-name>com.sun.faces.responseBufferSize</param-name>
		<param-value>500000</param-value>
	</context-param>

<!-- 	<context-param> -->
<!-- 		<param-name>facelets.REFRESH_PERIOD</param-name> -->
<!-- 		<param-value>-1</param-value> -->
<!-- 	</context-param> -->

	<context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>

	<context-param>
		<param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
		<param-value>pt-BR</param-value>
	</context-param>
	
	<session-config>
		<session-timeout>30</session-timeout>		
	    <tracking-mode>COOKIE</tracking-mode>
	</session-config>

	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>bootstrap</param-value>
	</context-param>
	
	<servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>

	<welcome-file-list>
		<welcome-file>pages/login.xhtml</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	
	
	
	<!-- Configuração do Spring -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	<filter>
	    <filter-name>Character Encoding Filter</filter-name>
	    <filter-class>br.com.gestaoambiental.filter.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>Character Encoding Filter</filter-name>
	    <servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
 
	
</web-app>
